.help-block {
    padding: 15px;
    margin-bottom: 20px;
    border: 1px solid transparent;
    border-radius: 4px;
    background-color: #f2dede;
    border-color: #ebccd1;
    visibility:visible;
    opacity:1;

    transition:linear 0.3s,opacity 0.3s linear;
}

.help-block:empty {
    visibility:hidden;
    opacity:0;
    padding: 0px;
    margin: 0px;
    transition:margin 0.3s, padding 0.3s, linear 0.3s,opacity 0.3s linear;
}

.plus-counter, .minus-counter {
    cursor: default;
}

.post_down_icon.disabled, .post_up_icon.disabled, .add_post_icon.disabled {
    cursor: default;
    opacity: 0.7;
}

.post_up_icon.disabled {
    background-position: 0px -40px;
}

.post_down_icon.disabled {
    background-position: 0px 0px;
}

.rating_block .post_up_icon.disabled {
    background-position: 0px -30px;
}