*{
    font-family: 'Roboto', sans-serif;
}
@font-face {
    font-family: 'Century gothic'; 
    src: url(../fonts/GOTHIC.TTF);
    font-weight: 400;
}
@font-face {
    font-family: 'Century gothic'; 
    src: url(../fonts/GOTHICB.TTF); 
    font-weight: 700;
}
body { 
    min-width: 1170px;
    background: url(../img/pattern.jpg) repeat;
}
.container{ 
    width: 1170px;
}
select{
    cursor: pointer;
}
.btn:hover {
    color: inherit;
}
.btn:active, .btn.active {
    outline: none;
    box-shadow: none;
}
.btn:focus, .btn:active:focus, .btn.active:focus, .btn.focus, .btn:active.focus, .btn.active.focus {
    outline: none;
}


/*header*/
.menu_1{
    height: 44px;
    background-color: #f7f8f7;
}
.menu_1 ul{
    float: right;
    margin-bottom: 0px;
    padding-left: 0px;
}
.menu_1 ul li{
    list-style-type: none;
    float: left;
}
.menu_1 ul li a{
    margin-left: 35px;
    font-size: 12px;
    font-weight: 700;
    line-height: 44px;
    letter-spacing: 0.031em;
    color: #85999e;
    transition: all 0.25s;
}
.menu_1 ul li a:hover{
    text-decoration: none;
    color: #687379;
}
.menu_2{
    width: 100%;
    position: relative;
    height: 81px;
    background-color: #233238;
    overflow-x: hidden;
}
.menu_2 .container{
    position: relative;
}
.logo a{
    display: block;
}
.logo{
    position: absolute;
    /* top: -30px; */
    margin-left: 15px;
    margin-top: 7px;
    z-index: 1;
}
.menu_2_items{
    width: 841px;
}
.icon_main_menu{
    margin: 0 50px;
}
.sptite_icon_menu {
    position: absolute;
    top:0;
    left:0;
    bottom:0;
    right:0;
    margin-top: 0px !important;
    opacity: 0;
    -webkit-transition: opacity 0.25s !important;
    -moz-transition:    opacity 0.25s !important;
    -o-transition:      opacity 0.25s  !important;
}
.menu_2_items ul li:hover .sptite_icon_menu {
    opacity: 1;
}
.icon_main_menu {
    display: inline-block;
    position: relative;
    text-indent: -9999px;
}
.icon_main_menu_1{
    width: 20px;
    height: 24px;
    background: url(../img/item_menu_1_1.png);
}
/*  .menu_2_items ul li:hover .icon_main_menu_1{
    background-position: 0px -24px;
}*/
.menu_2_items .icon_main_menu_1 .sptite_icon_menu {
    background: url(../img/item_menu_1_1.png);
    background-position: 0px -24px;
}
.icon_main_menu_2{
    width: 24px;
    height: 21px;
    background: url(../img/item_menu_2_1.png);
}
.menu_2_items .icon_main_menu_2 .sptite_icon_menu{
    background: url(../img/item_menu_2_1.png);
    background-position: 0px -21px;
}
.icon_main_menu_3{
    width: 24px;
    height: 24px;
    background: url(../img/item_menu_3_1.png);
}
.menu_2_items .icon_main_menu_3 .sptite_icon_menu{
    background: url(../img/item_menu_3_1.png);
    background-position: 0px -24px;
}
.icon_main_menu_4{
    width: 24px;
    height: 25px;
    background: url(../img/item_menu_4_1.png);
}
.menu_2_items .icon_main_menu_4 .sptite_icon_menu{
    background: url(../img/item_menu_4_1.png);
    background-position: 0px -25px;
}
.icon_main_menu_5{
    width: 24px;
    height: 24px;
    background: url(../img/item_menu_5_1.png);
}
.menu_2_items .icon_main_menu_5 .sptite_icon_menu{
    background: url(../img/item_menu_5_1.png);
    background-position: 0px -24px;
}
.icon_main_menu_6{
    width: 25px;
    height: 24px;
    background: url(../img/item_menu_6_1.png);
}
.menu_2_items .icon_main_menu_6 .sptite_icon_menu{
    background: url(../img/item_menu_6_1.png);
    background-position: 0px -24px;
}
.menu_2_items li img{
    /* float: left; */
    margin: 0px 50px;
}
.menu_2_items ul{
    height: 81px;
    display: table;
    margin-bottom: 0px;
    padding-left: 50px;
}
.menu_2_items ul li{
    list-style-type: none;
    float: left;
    text-align: center;
    /* margin: 0 20px; */
}
.menu_2_items ul li a{
    height: 81px;
    display: table-cell;
    vertical-align: middle;
    position: relative;
}
.menu_2_items li.active a:after{
    content: '';
    position: absolute;
    top: 13px;
    left: 52%;
    width: 17px;
    height: 17px;
    background: url(../img/active_menu.png);
}
.menu_2_items ul li a:hover{
    text-decoration: none;
    color: #fff;
}
.menu_2_items ul li a:focus{
    text-decoration: none;
}
.menu_2_items ul li:hover a span{
    color: #fff;
}
.menu_2_items a span{
    display: block;
    font-size: 14px;
    font-weight: 700;
    color: #a5b1b8;
    margin-top: 5px;
    -webkit-transition: color 0.25s;
    -moz-transition:    color 0.25s;
    -o-transition:      color 0.25s;
}
.wpapper_form{
    position: absolute;
    left: 841px;
    width: 704px;
    height: 81px;
    background-color: #222b2f;
    padding-left: 27px;
}
.block_form{
    width: 287px;
    border-bottom: 2px solid #5d666a;
    margin-top: 7px;
}
.block_form .form-control{
    border: none; 
    width: 239px;
    background: transparent;
    box-shadow: none;
    /* float: left; */
    color: #fff;
    height: 50px;
    padding-bottom: 0px;
}
.block_form .form-control:focus{
    box-shadow: none;
    outline: none;
}
.block_form .btn{
    border: none;
    background: transparent;
    padding: 0px;
    width: 24px;
    float: right;
    margin-top: -32px;
}
.block_form .btn:focus {
    outline: none;
}
/*ebd header*/

/*main*/
.main{
    overflow-x: hidden;
}
.main .container{
    position: relative;
}
.main .content{
    /* width: 841px; */
    padding-right: 0px;
}
.block_sidebar{
    /* position: absolute; */
    /* left: 841px; */
    /* width: 695px; */
    padding-left: 1px;
    margin-left: -37px;
}
.left_border_sidebar {
    position: absolute;
    width: 1px;
    height: 100%;
    float: left;
    background-image: -webkit-linear-gradient(top, rgba(232, 232, 232, 1) 70%, rgba(232, 232, 232, 0.5) 93%);
}
.sidebar{
    /* height: 1500px; */
    position: relative;
    /* display: -webkit-box; */
    /* left: 841px; */
    width: 695px;
    /* border-left: 1px solid #e8e8e8; */
    background-image: -webkit-linear-gradient(top, rgba(255, 255, 255, 1) 49%, rgba(245, 246, 247, 0.1) 100%)/*, 
        -webkit-linear-gradient(left, rgba(255, 255, 255, 1) 31%, rgba(245, 246, 247, 0.7) 63%)*/;
    background-color: rgba(245, 246, 247, 0.5);
    /*background-image: radial-gradient(        circle at top left,        rgba(255, 255, 255, 1) 46%,        rgba(245, 246, 247, 0.1) 80%      );*/
}
.header-sidebar{
    height: 163px;
    padding-left: 27px;
    padding-top: 43px;
}
.line_gr_1{
    height: 1px;
    background: -webkit-linear-gradient(left, rgba(232, 232, 232, 1) 31%, rgba(232, 232, 232, 0.7) 31%, rgba(232, 232, 232, 0.1) 100%);
}
.header-sidebar .ava{
    position: relative;
    width: 81px;
    height: 81px;
    float: left;
    margin-right: 30px;
}
.header-sidebar .block_name_user{
    width: 176px;
    float: left;
}
.header-sidebar .quantity_user{
    position: absolute;
    top: -1px;
    left: 36px;
    border: 2px solid #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 16px;
    background: #ec7b65 url(../img/arrow_1.png) 4px center no-repeat;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    font-family: 'Century gothic'; 
    padding-left: 4px;
    width: 63px;
    height: 28px;
    line-height: 24px;
    padding-left: 12px;
}
.header-sidebar .log_out{
    float: right;
}
.header-sidebar .add_post{
    width: 175px;
    height: 47px;
    position: relative;
    margin-top: 11px;
    display: block;
    padding-left: 20px;
    background-position: 140px center;
    background-repeat: no-repeat;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #32b287;
    line-height: 47px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic'; 
    transition: all 0.2s linear;    

}
.header-sidebar .add_post span{
    width: 16px;
    height: 16px;
    position: absolute;
    top: 50%;
    right: 10%;
    margin-top: -8px;
    display: block;
    float: right;
    background-image: url(../img/plus.png);
    transition: all 0.2s linear;
}
.header-sidebar .add_post:hover{
    text-decoration: none;
    background-color: #30ab82;  
}
.header-sidebar .add_post:hover span{
    transform: rotate(180deg);
}
.header-sidebar .name_user{
    width: 160px;
    float: left;
    font-size: 18px;
    font-weight: 700;
    color: #374249;
    margin-bottom: 0px;
    line-height: 20px;
}
.block_add_post{
    height: 47px;
    float: left;
}
.sidebar_menu{
    padding-left: 45px;
    padding-top: 27px;
    width: 314px;
}
.item_menu_sidebar{
    margin-bottom: 43px;
}
.item_menu_sidebar a{
    padding-left: 24px;
    font-size: 18px;
    font-weight: 700;
    color: #687377;
}
.item_menu_sidebar a:hover{
    text-decoration: none;
}
.item_menu_sidebar img{
    float: left;
}
.rating{
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    padding: 2px 5px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #ec7b65;
    float: right;
}
.rating_2{
    background-color: #233237;
}
.sidebar_user{
    width: 315px;
    /* background-color: #fbfbf9; */
    padding-left: 26px;
}
.top_comment{
    width: 287px;
    padding-top: 27px;
}
.title_sidebar_user{
    width: 287px;
    font-family: 'Century gothic'; 
    font-size: 20px;
    font-weight: 700;
    color: #374249;
    margin-bottom: 35px;
    margin-top: 6px;
}
.title_sidebar_user span.mySelect { 
    background-image: url(../img/bg_select.png);
    background-position: 92% center;
    background-repeat: no-repeat;
    background-color: #fff;
    height: 38px;
    padding-left: 8px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #fff;
    border: 3px solid #808080;
    font-family: 'Releway';
    font-size: 14px;
    font-weight: 800;
    color: #7c8589;
    line-height: 20px;
}
.select_4{
    width: 85px;
    float: right;
}
.select_4 .dropdown-menu{
    width: 85px;
}
.select_4 .dropdown-menu li a{
    padding-left: 10px;
}
.block_top_comment{
    width: 287px;
    /* height: 422px; */
    padding: 17px;
    padding-bottom: 0px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fefefd;
    border: 3px solid #d3dddf;
    -webkit-box-shadow: 0 0 2px rgba(234,237,238,.04);
    -moz-box-shadow: 0 0 2px rgba(234,237,238,.04);
    box-shadow: 0 0 2px rgba(234,237,238,.04);
}

.name_user_comment{
    font-size: 18px;
    font-weight: 500;
    color: #233238;
    margin-bottom: 0px;
    margin-top: 2px;
}
.name_user_comment:hover {
    color: #233238;
    text-decoration: none;
}
.block_top_comment .ava_comment{
    float: left;
    margin-right: 18px;
}
.time_comment, .date_comment{
    font-size: 14px;
    font-weight: 500;
    color: #84989d;
    font-style: italic;
}
.time_comment img{
    margin-right: 8px;
    margin-top: -2px;
}
.time_comment{
    margin-right: 6px;
}
.title_comment{
    margin-top: 35px;
}
.title_comment a:hover,  .title_comment a:focus{
    text-decoration: none;
}
.title_comment span{
    background-color: #687377;
    border-radius: 14px;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    padding: 2px 13px;
    line-height: 34px;
    cursor: pointer;
}
.text_comment{
    font-family: 'Century gothic'; 
    font-size: 18px;
    font-weight: 700;
    color: #687379;
    line-height: 28px;
    margin-bottom: 20px;
}
.comment_up{
    font-size: 16px;
    font-weight: 800;
    color: #ec7b65;
}
.block_top_comment .post_up{
    float: none;
}
.footer_comment{
    height: 57px;
    width: 281px;
    display: block;
    margin-left: -17px;
    margin-top: 20px;
    background-color: #dfe6e7;
    font-family: 'Century gothic'; 
    font-size: 18px;
    font-weight: 700;
    color: #84989d;
    line-height: 57px;
    text-align: center;
}
.footer_comment:hover{
    text-decoration: none;
    background-color: #d3dddf;
    color: #84989d;
}
.line_1{
    height: 3px;
    margin-top: 38px;
    background:  #eef2f2;
    margin-bottom: 41px;
}
.advice{
    width: 287px;
    position: relative;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background: url(../img/pattern2.jpg);
}
.advice a:hover {
    text-decoration: none;
}
.close_advice{
    position: absolute;
    right: -2px;
    top: -4px;
    cursor: pointer;
}
.text_advice{
    padding: 30px;
    padding-top: 18px;
    padding-bottom: 19px;
    border-bottom: 2px solid rgba(28, 137, 100, .3);
}
.text_advice_1{
    font-family: 'Century gothic'; 
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;
    line-height: 30px;
}
.text_advice_2{
    font-family: 'Century gothic'; 
    font-size: 18px;
    font-weight: 400;
    color: rgba(255, 255, 255, .8);
    line-height: 28px;
    margin-bottom: 0px;
}
.footer_advice{
    position: relative;
    padding: 26px 0px 25px 128px;
}
.footer_advice img{
    float: left;
    position: absolute;
    top: 53px;
    left: -9px;
}
.advice .message{
    width: 135px;
    height: 70px;
    position: relative;
    border-radius: 10px;
    border-bottom-left-radius: 0px;
    padding-top: 12px;
    background-color: rgba(0, 0, 0, .12);
}
.advice .message:after {
    content: '';
    position: absolute;
    bottom: -8px;
    width: 0px;
    height: 0px;
    border-style: solid;
    border-width: 8px 8px 0 0;
    border-color: rgba(0, 0, 0, .12) transparent transparent transparent;
}
.text_footer_advice_1{
    font-family: 'Century gothic'; 
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 0px;
    text-align: center;
}
/*.text_footer_advice_1:before{
    content: '"';
    position: absolute;
    left: 76px;
    top: -9px;
    font-family: 'Century gothic'; 
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    letter-spacing: -0.12em;
}*/
.text_footer_advice_2{
    font-family: 'Century gothic'; 
    font-size: 14px;
    font-weight: 400;
    color: #fff;
    text-align: center;
}
.top_tags{
    width: 287px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    border: 3px solid #d3dddf;
    background-color: rgba(255,255,255,.7);
    -webkit-box-shadow: 0 0 2px rgba(234,237,238,.04);
    -moz-box-shadow: 0 0 2px rgba(234,237,238,.04);
    box-shadow: 0 0 2px rgba(234,237,238,.04);
}
.body_top_tags{
    padding: 16px;
    padding-bottom: 72px;
    padding-top: 19px;
}
.tags{
    border: 2px solid #b6c6ca;
    padding: 7px 19px;
    margin-right: 10px;
    font-size: 14px;
    font-weight: 800;
    color: #b6c6ca;
    -webkit-border-radius: 18px;
    -moz-border-radius: 18px;
    border-radius: 18px;
    background-color: #fff;
    line-height: 36px;
}
.tags:hover{
    color: #b6c6ca;
}
.link_top_tags_1{
    font-family: 'Century gothic'; 
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #84989d;
    width: 50%;
    display: block;
    float: left;
    margin-top: -58px;
    height: 58px;
    background-color: #dfe6e7;
    border-bottom-left-radius: 5px;
}
.link_top_tags_1:hover{
    background-color: #bdc6c8;
}
.link_top_tags_2:hover{
    background-color: #77898d;
}
.link_top_tags_2{
    font-family: 'Century gothic'; 
    text-align: center;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    width: 50%;
    display: block;
    float: right;
    margin-top: -58px;
    height: 58px;
    background-color: #a7b6b8;
    border-bottom-right-radius: 5px;
}
.link_top_tags_1, .link_top_tags_2{
    line-height: 58px;
}
.link_top_tags_1:hover{
    color: #fff;
}
.link_top_tags_2:hover{
    color: #fff;
}
.link_top_tags_1:hover, .link_top_tags_2:hover{
    text-decoration: none;
    line-height: 58px;
}
/*post*/
.content{
    padding-top: 30px;
}
.post{
    width: 792px;
    margin-bottom: 30px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    background-color: #fff;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.05);
    box-shadow: 0 0 8px rgba(0,0,0,.05);
}
.sort_post{
    height: 101px;
    border-radius: 5px 5px 0px 0px;
    background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
    background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
    background-image: -o-linear-gradient(bottom, #fafafa, #fff);
    background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
    background-image: linear-gradient(to top, #fafafa, #fff);
    padding: 31px 0px 0px 41px;
    border-bottom: 1px solid #f1f3f4;
}
.sort_post .select_1{
    width: 263px;
    margin-right: 22px;
    float: left;
}
.select_1 .dropdown-menu.open{
    width: 263px;
}
.sort_post .select_2{
    width: 172px;
    margin-right: 22px;
    float: left;
}
.select_2 .dropdown-menu.open{
    width: 172px;
}
.sort_post .select_3{
    width: 215px;
    float: left;
}
.select_3 .dropdown-menu.open{
    width: 215px;
}
.bootstrap-select { 
    /* background-image: url(../img/bg_select.png); */
    background-position: 95% center;
    background-repeat: no-repeat;
    background-color: #fff !important;
    height: 38px;
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #808080 !important;    
    cursor: pointer;
}
.bootstrap-select .btn{
    border: none;
}
.bootstrap-select .btn:focus{
    outline: none !important;
}
.bootstrap-select.open{
    border-bottom: none !important;
    border-radius: 5px 5px 0px 0px;
}
.bootstrap-select.open .btn{
    background-color: transparent !important;
    box-shadow: none;
}
div.dropdown-menu{
    border-radius: 0px 0px 5px 5px;
    border: 3px solid #808080 !important;   
    border-top: none !important;
    margin-left: -3px;
}
.bootstrap-select.btn-group .dropdown-menu{
    margin-top: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
}
.dropdown-toggle:hover, .dropdown-toggle:focus{
    box-shadow: none;
    background-color: transparent;
}
.btn .filter-option{
    font-size: 14px;
    font-weight: 800;
    color: #7c8589 !important;
}
.dropdown-menu li a{
    padding-top: 7px;
    padding-bottom: 7px;
}
.selected a:focus{
    box-shadow: none;
    outline: none;
}
li.selected a{
    background-color: #32b287 !important;   
}
ul.selectpicker li.selected a span{
    font-size: 14px;
    font-weight: 800;
    color: #fff !important;
    line-height: 20px;
}
ul.selectpicker a span{
    font-size: 14px;
    font-weight: 800;
    color: #7c8589 !important;
    line-height: 20px;
}
.body_post{
    padding: 44px 40px 40px 40px;
}
.header_post .title_post{
    font-family: 'Century gothic'; 
    font-size: 26px;
    font-weight: 700;
    color: #222b2f;
    line-height: 30px;
}
.header_post .title_post a{
    font-family: 'Century gothic'; 
    font-size: 26px;
    font-weight: 700;
    color: #222b2f;
    line-height: 30px;
}
.header_post .title_post a:hover,  .header_post .title_post a:focus {
    text-decoration: none;
}
.header_post .subtitle_post{
    font-family: 'Century gothic'; 
    font-size: 16px;
    font-weight: 400;
    color: #374249;
    margin-bottom: 36px;
}
.header_post{
    position: relative;
}
.indicator_post{
    position: absolute;
    top: 6px;
    right: 0px;
    float: right;
    cursor: pointer;
}
.info_post{
    height: 110px;
    background: url(../img/bg_info_post.png) left bottom no-repeat;
    margin-bottom: 40px;
}
.block_user{
}
.ava_user_post{
    width: 81px;
    height: 82px;
    float: left;
    margin-right: 20px;
    text-align: center;
    line-height: 80px;
}
.ava_user_post_man{
    height: 82px;
    background: url(../img/border_ava_post.png);
}
.ava_user_post_woman{
    background: url(../img/border_ava_post_2.png);
}
.info_post .name_user a{
    font-size: 18px;
    font-weight: 700;
    color: #233238;
    padding-top: 14px;
    margin-bottom: 6px;
}
.info_post .name_user a:hover{
    text-decoration: none;
}
.name_user a{
    font-size: 18px;
    font-weight: 700;
    color: #233238;
}
.point_after{
    margin-right: 23px;
}
.point_after:after{
    content: '';
    position: absolute;
    background: url(../img/point.png);
    width: 5px;
    height: 5px;
    right: -16px;
    top: 8px;
    color: #c5ccd0;
    font-size: 27px;
    font-weight: 800;
}
.time_add_post, .quantity_comment{
    position: relative;
    font-size: 14px !important;
    font-weight: 400;
    color: #b5bec3;   
    float: left;
}
.quantity_comment:hover{
    color: #687379;
}
.time_add_post img, .quantity_comment img{
    margin-right: 7px;
}
.social_icon{
    /* width: 80px; */
    height: 22px;
    float: left;
    position: relative;
    padding-left: 0px;
}
.social_icon li{
    list-style-type: none;
    float: left;
    margin: 0px 3px;
}
.add_post_icon{
    width: 22px;
    float: left;
    position: relative;
    margin-left: 1px;
    cursor: pointer;
}
.add_post_icon img{
    transition: all 0.5s;
}
.add_post_icon img.animate_add_post{
    transform: rotate(180deg);   
}
.gold_post_icon{
    width: 22px;
    float: left;
    position: relative;
    margin-left: 2px;
}
.down_post{
    height: 90px;
    padding-top: 40px;
}
.text_body_post{
    line-height: 32px;
    font-size: 18px;
    font-weight: 400;
    color: #687379;
    font-family: 'Century gothic';
}
.open_post{
    width: 159px;
    height: 50px;
    float: left;
    display: block;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #32b287;
    line-height: 47px;
    font-size: 16px;
    font-weight: 700;
    text-align: center;
    color: #fff;
    font-family: 'Century gothic';
}
.open_post:hover{
    text-decoration: none;
    color: #fff;
}
.post_down{
    margin-right: 30px;
    color: #687377;
    font-size: 20px;
    font-weight: 800;
    float: right;
    cursor: pointer;
    margin-top: 6px;
}
.post_down span{
    line-height: 36px;
}
.post_up_icon{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 7px;
    background: url(../img/post_up_sprite.png);
    transition: all 0.15s;
}
.post_up_icon:hover{
    background-position: 0px -40px;
}
.post_down_icon{
    width: 40px;
    height: 40px;
    float: left;
    margin-right: 7px;
    background: url(../img/post_down_sprite.png) 0px -40px;
    transition: all 0.15s;
}
.post_down_icon:hover{
    background-position: 0px 0px;
}
.post_up{
    color: #ec7b65;
    font-size: 20px;
    font-weight: 800;
    float: right;
    cursor: pointer;
    margin-top: 6px;
}
.post_up span{
    line-height: 36px;
}
.footer_post{
    background-color: #f6f8f8;
    min-height: 80px;
    padding: 25px 42px;
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}
.footer_post .tags{
    color: #b6c6ca;
    font-size: 14px;
    font-weight: 800;
    background-color: #fff;
    border: 2px solid #b6c6ca;
    -webkit-border-radius: 14px 13px 13px 14px/14px;
    -moz-border-radius: 14px 13px 13px 14px/14px;
    border-radius: 14px 13px 13px 14px/14px;
    padding: 3px 7px;
    line-height: 32px;
    margin-right: 10px;
}
/*end main*/

/*footer*/
footer{
    height: 50px;
    background-color: #fff;
    -webkit-box-shadow: 3px -3px 8px rgba(136,151,163,.08);
    -moz-box-shadow: 3px -3px 8px rgba(136,151,163,.08);
    box-shadow: 3px -3px 8px rgba(136,151,163,.08);
}
.copy{
    display: inline-block;
    float: left;
    line-height: 50px;
    margin-bottom: 0px;
}
.copy_icon{
    font-size: 14px;
    font-weight: 800;
    color: #555f63;
}
.copy_text_1{
    font-size: 14px;
    font-weight: 800;
    color: #32b287;
}
.copy_text_2{
    font-size: 14px;
    font-weight: 800;
    color: #555f63;
}
.menu_footer{
    padding-left: 0px;
}
.menu_footer li{
    list-style-type: none;
    float: left;
}
.menu_footer li a{
    margin-left: 38px;
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    letter-spacing: 0.031em;
    color: #85999e;
}
.menu_footer li a:hover{
    text-decoration: none;
    color: #687379;
}
.email{
    font-size: 12px;
    font-weight: 700;
    line-height: 50px;
    color: #555f63;
    float: left;
    margin-right: 30px;
}
.social_footer{
}
.social_footer li{
    list-style-type: none;
    float: left;
    margin-right: 7px;
    line-height: 50px;
}
/*end footer*/

/*tooltip*/
.tooltip{
    position:absolute;
    z-index:1020;
    display:block;
    visibility:visible;
    padding:5px;
    font-size:11px;
    opacity:0;
    filter:alpha(opacity=0)
}
.tooltip.in{
    opacity:1;
}
.tooltip.bottom{
    margin-top:2px
}
.tooltip.bottom .tooltip-arrow{
    top:0;
    left:50%;
    margin-left:-5px;
    border-left:5px solid transparent;
    border-right:5px solid transparent;
    border-bottom:5px solid #7c8589;
}

.tooltip-inner{
    max-width:200px;
    padding:3px 8px;
    color:#1c1c1c;
    text-align:center;
    text-decoration:none;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    background: #7c8589;
    box-shadow: 0 1px 2px rgba(0,0,0,.17);
    font-size: 12px;
    font-weight: 400;
    color: #fff;
    padding: 5px 12px;
}
.tooltip-arrow{
    position:absolute;
    width:0;
    height:0
}
/*end tooltip*/

/*up_arrow*/
.up_arrow{
    width: 55px;
    height: 64px;
    display: none;
    line-height: 53px;
    background-color: #32b287;
    border-radius: 50%;
    text-align: center;
    -webkit-box-shadow: 0 0 10px rgba(186,198,204,.51);
    -moz-box-shadow: 0 0 10px rgba(186,198,204,.51);
    box-shadow: 0 0 10px rgba(186,198,204,.51);
    position: fixed;
    z-index: 10;
    top: 40%;
    left: 8%;
}
.up_arrow.animate{
    opacity: 1;
    top: 50%;
    height: 55px;
    -webkit-animation: animation_1 1s, animation_2 0.5s, animation_3 1s;
}
.up_arrow.animate_up{
    opacity: 0;
    top: 40%;
    height: 64px;
    -webkit-animation: animation_1_1 1s, animation_2_1 0.5s, animation_3_1 1s;
}
@media (min-width: 1400px) and (max-width: 1600px) {
    .up_arrow {
        left: 4%;
    }
}
@media (min-width: 1300px) and (max-width: 1400px) {
    .up_arrow {
        left: 2%;
    }
}
@media screen and (max-width: 1400px) {
    .up_arrow.animate {
        left: 2%;
    }
}
@-webkit-keyframes animation_1 {
    0%   { 
        opacity: 0;
    }
    100% { 
        opacity: 1;
    }
}
@-webkit-keyframes animation_2 {
    0%   { 
        top: 40%;
    }
    100% { 
        top: 50%
    }
}
@-webkit-keyframes animation_3 {
    0%   { 
        height: 68px;
    }
    100% { 
        height: 55px;
    }
}

@-webkit-keyframes animation_1_1 {
    0%   { 
        opacity: 1;
    }
    100% { 
        opacity: 0;
    }
}
@-webkit-keyframes animation_2_1 {
    0%   { 
        top: 50%;
    }
    100% { 
        top: 40%;
    }
}
@-webkit-keyframes animation_3_1 {
    0%   { 
        height: 55px;
    }
    100% { 
        height: 68px;
    }
}

/*end up_arrow*/

/*login and register*/
.sidebar_login_reg{
    width: 315px;
    padding-left: 26px;
    padding-top: 30px;
}
.sidebar_login_reg .nav-tabs{
    width: 100%;
    height: 62px;
    background-color: #32b287;
    padding: 5px;
    border-radius: 7px;
    margin-right: 0px;
}
.sidebar_login_reg .nav-tabs>li>a{
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic'; 
    padding: 14px 20px;
    border: none !important;
}
.sidebar_login_reg .nav-tabs>li.active>a{
    color: #32b287 !important;
    border: none;
    border-radius: 5px;
    box-shadow: -4px 0px 8px 0px rgba(0, 1, 1, .15);
}
.sidebar_login_reg .nav-tabs>li.active.nav-tabs1>a{
    box-shadow: 4px 0px 8px 0px rgba(0, 1, 1, .15);
}
.sidebar_login_reg .nav>li>a:hover, .sidebar_login_reg .nav>li>a:focus{
    border: none !important;
    background: transparent;
    outline: none;
}
.sidebar_login_reg .nav>li.active>a:hover{
    color: #32b287 !important;
    background: #fff;
}
.sidebar_login_reg .tab-content{
    margin-top: 20px;
    margin-bottom: 32px;
}
.sidebar_login_reg form{
    padding: 6px 20px;
    padding-bottom: 18px;
    border: 3px dashed #edf1f2;
    border-radius: 8px;
}
.sidebar_login_reg form .form-group{
    margin-bottom: 5px;
}
.sidebar_login_reg form .form-control{
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: 3px dashed #edf1f2;
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic'; 
    height: 73px;
    padding-left: 0px;
    padding-right: 55px;
}
.sidebar_login_reg form .form-control::-webkit-input-placeholder {
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic'; 
}
.sidebar_login_reg form .form-control:-moz-placeholder { /* Firefox 18- */
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic';  
}
.sidebar_login_reg form .form-control::-moz-placeholder {  /* Firefox 19+ */
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic'; 
}
.sidebar_login_reg form .form-control:-ms-input-placeholder {  
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic';   
}
.sidebar_login_reg .form-control:focus::-webkit-input-placeholder {
    color: transparent
}
.sidebar_login_reg .form-control:focus:-moz-placeholder {
    color: transparent
}
.sidebar_login_reg .form-control:focus::-moz-placeholder {
    color: transparent
}
.sidebar_login_reg .form-control:focus::-ms-placeholder {
    color: transparent;
}
.sidebar_login_reg .form-control.valid{
    background: url(../img/valid_input.png) right center no-repeat;     
}
.sidebar_login_reg .btn{
    width: 100%;
    height: 59px;
    padding: 0px;
    margin-top: 25px;
    border:  none;
    background-color: #32b287;
    background-image: url(../img/arrow_btn.png);
    background-position: 198px center;
    background-repeat: no-repeat;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    line-height: 59px;
    font-family: 'Century gothic'; 
}
.sidebar_login_reg .or_text{
    font-size: 14px;
    font-weight: 700;
    color: #d1d7db;
    font-family: 'Century gothic';
    line-height: 47px;
    text-align: center;
    margin-bottom: 0px;
}
.social_icon_log {
    cursor: pointer;
    opacity: 0.4;
}
.social_icon_log:hover {
    opacity: 1;
}
.social_icon_log_1{
    margin-bottom: 10px;
}
.social_icon_log_2{
    margin-bottom: 10px;
    float: right;
}
.form-group_{
    position: relative;
}
.tooltip_pass{
    position: absolute;
    right: 38px;
    top: 26px;
    cursor: pointer;
}
.change_pass{
    position: absolute;
    height:32px;
    width:32px;
    right: 0px;
    top: 21px;
    cursor: pointer;
    z-index: 1;
    background: #d1d7db;
    border-radius: 50%;
    line-height: 30px;
    text-align: center;
    box-shadow: 0px 0px 4px 1px rgba(110, 138, 145, .3);
    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
} 
.change_pass.transparent {
    background: #32b287;
    box-shadow: 0px 0px 4px 1px rgba(110, 138, 145, .3);
    -webkit-transition: background 0.25s ease-in-out;
    -moz-transition: background 0.25s ease-in-out;
    -o-transition: background 0.25s ease-in-out;
    transition: background 0.25s ease-in-out;
}

.checkbox{
    margin: 0;
    padding-top: 33px;
    padding-bottom: 8px;
}
.checkbox label{
    width: 100%;
    padding-left: 0px;
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic'; 
}
/* Normal Track */ 
/*ios-switch green  bigswitch*/
input[type="checkbox"] {  
    position: absolute; 
    opacity: 0; 
} 

/* Normal Track */ 
input[type="checkbox"].ios-switch + div { 
    vertical-align: middle; 
    width: 40px;    height: 20px; 
    border: 2px solid #d1d7da; 
    border-radius: 999px; 
    background-color: #fefefe; 
    -webkit-transition-duration: .4s; 
    -webkit-transition-property: background-color, box-shadow; 
    /* box-shadow: inset 0 0 0 0px rgba(0,0,0,0.4); */ 
    /* margin: 15px 1.2em 15px 2.5em; */ 
} 

/* Checked Track (Blue) */ 
input[type="checkbox"].ios-switch:checked + div { 
    width: 40px; 
    background-position: 0 0; 
    background-color: #3b89ec; 
    border: 1px solid #0e62cd; 
    box-shadow: inset 0 0 0 10px rgba(59,137,259,1); 
} 

/* Big Track */ 
.sidebar_login_reg input[type="checkbox"].bigswitch.ios-switch + div { 
    width: 44px;    
    height: 29px; 
    float: right;
}
input[type="checkbox"].bigswitch.ios-switch + div { 
    width: 52px;    
    height: 29px; 
    float: right;
} 

/* Green Track */ 
input[type="checkbox"].green.ios-switch:checked + div { 
    background-color: #32b186; 
    border: 2px solid #32b186; 
    box-shadow: inset 0 0 0 10px rgba(50, 177,134,1); 
} 

/* Normal Knob */ 
input[type="checkbox"].ios-switch + div > div { 
    float: left; 
    width: 18px; height: 18px; 
    border-radius: inherit; 
    background: #d1d7db; 
    -webkit-transition-timing-function: cubic-bezier(.54,1.85,.5,1); 
    -webkit-transition-duration: 0.4s; 
    -webkit-transition-property: transform, background-color, box-shadow; 
    -moz-transition-timing-function: cubic-bezier(.54,1.85,.5,1); 
    -moz-transition-duration: 0.4s; 
    -moz-transition-property: transform, background-color; 
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(0, 0, 0, 0.4); */ 
    pointer-events: none; 
    margin-top: 1px; 
    margin-left: 1px; 
} 

/* Checked Knob (Blue Style) */ 
input[type="checkbox"].ios-switch:checked + div > div { 
    -webkit-transform: translate3d(20px, 0, 0); 
    -moz-transform: translate3d(20px, 0, 0);
    -ms-transform: translate3d(20px, 0, 0); 
    background-color: #ffffff; 
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1); */ 
} 

/* Tiny Knob */ 
input[type="checkbox"].tinyswitch.ios-switch + div > div { 
    width: 16px; height: 16px; 
    margin-top: 1px; 
} 

/* Checked Tiny Knob (Blue Style) */ 
input[type="checkbox"].tinyswitch.ios-switch:checked + div > div { 
    -webkit-transform: translate3d(16px, 0, 0); 
    -moz-transform: translate3d(16px, 0, 0); 
    -ms-transform: translate3d(16px, 0, 0); 
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1); 
} 

/* Big Knob */ 
input[type="checkbox"].bigswitch.ios-switch + div > div { 
    width: 23px; height: 23px; 
    margin-top: 1px; 
    margin-left: 1px;
} 

/* Checked Big Knob (Blue Style) */ 
.sidebar_login_reg input[type="checkbox"].bigswitch.ios-switch:checked + div > div { 
    -webkit-transform: translate3d(16px, 0, 0); 
    -moz-transform: translate3d(16px, 0, 0); 
    -ms-transform: translate3d(16px, 0, 0); 
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1); */ 
}
input[type="checkbox"].bigswitch.ios-switch:checked + div > div { 
    -webkit-transform: translate3d(30px, 0, 0); 
    -moz-transform: translate3d(16px, 0, 0); 
    -ms-transform: translate3d(16px, 0, 0); 
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1); */ 
} 

/* Green Knob */ 
input[type="checkbox"].green.ios-switch:checked + div > div { 
    /* box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3), 0 0 0 1px rgba(50, 177,134,1); */ 
} 


#a_pf-btn-mask-mypass{
    display: block !important;
    position: absolute;
    margin: 0px;
    padding: 0px;
    height: 73px;
    line-height: 73px;
    top: 0px;
    left: 214px !important;
}
/*end login and register*/

/*page string_and_my_post*/
.sort_by{
    padding-right: 18px;
    -webkit-border-radius: 0 5px 0 0;
    -moz-border-radius: 0 5px 0 0;
    border-radius: 0 5px 0 0;
    background-color: #fff;
    background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
    background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
    background-image: -o-linear-gradient(bottom, #fafafa, #fff);
    background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
    background-image: linear-gradient(to top, #fafafa, #fff);
}
.sort_by_comment ul {
    padding-left: 0px;
}
.sort_post .select_5{
    width: 144px;
    margin-right: 22px;
    float: right;
}
.select_5 .dropdown-menu.open{
    width: 144px;
}
.custom_tab .filter{
    position: relative;
    display: inline-block;
    -webkit-border-radius: 19px;
    -moz-border-radius: 19px;
    border-radius: 19px;
    background-color: #ccd9dc;
    font-size: 16px;
    font-weight: 800;
    color: #fff;
    height: 38px;
    text-align: center;
    line-height: 38px;
    padding: 0 20px;
    cursor: pointer;
    margin-right: 10px;
    letter-spacing: 0.03em;
}
.custom_tab .filter a{
    color: #fff;
    text-decoration: none;
    display: block;
}
.custom_tab .filter a:hover{
    text-decoration: none;
}
.custom_tab .filter a.active:hover{
    text-decoration: none;
}
.custom_tab .filter.active{
    background-color: #32b287;
}
.custom_tab .nav-tabs{
    border-bottom: none;
}
.custom_tab .nav-tabs li a{
    border-width: 3px;
    border-style: solid;
    border-color: #fdfdfd;
    -webkit-border-radius: 5px 5px 0 0;
    -moz-border-radius: 5px 5px 0 0;
    border-radius: 5px 5px 0 0;
    background-color: #b6c6ca;
    border-bottom: none;
    font-size: 18px;
    font-weight: 700;
    color: #ffffff;
    font-family: 'Century gothic';
    padding: 12px 36px;
    margin-right: 10px;
}
.custom_tab .nav-tabs li.active a{
    border-color: #fdfdfd;
    background-color: #ffffff;
    color: #7c8589;
}
.nav-tabs>li.active>a, .nav-tabs>li.active>a:hover, .nav-tabs>li.active>a:focus{
    border-width: 3px;
    border-bottom: none;
    outline: none;
    background: #fff;
}
/*end page string_and_my_post*/

/*page new_post*/
.tab_body{
    width: 792px;
    margin-bottom: 30px;
    padding: 30px 40px 40px 40px;
    background-color: #fdfdfd;
    -webkit-border-radius: 0px 8px 8px 8px;
    -moz-border-radius: 0px 8px 8px 8px;
    border-radius: 0px 8px 8px 8px;
    background-color: #fdfdfd;
    -webkit-box-shadow: 0 0 8px rgba(0,0,0,.05);
    -moz-box-shadow: 0 0 8px rgba(0,0,0,.05);
    box-shadow: 0 0 8px rgba(0,0,0,.05);
}
.tab_body .form-group{
    margin-bottom: 20px;
}
.tab_body .form-group .form-control {
    padding-left: 20px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px solid #edf1f2;
    background-color: #fff;
    font-size: 18px;
    font-weight: 700;
    color: #233238;
    font-family: 'Century gothic';
    box-shadow: none;
}
.tab_body .form-group input.form-control{
    height: 63px;
}
.tab_body textarea.form-control{
    resize: none;
    height: 216px;
}
.tab_body .or_{
    font-size: 18px;
    font-weight: 700;
    color: #d9dfe1;
    line-height: 50px;
    font-family: 'Century gothic';
    text-align: center;
    margin-bottom: 0px;
}
.plashka_drag_and_drop_img {
    width: 347px;
    height: 24px;
    margin: 0 auto;
    margin-top: 30px;
}
.drag_and_drop_img{
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 3px dashed #edf1f2;
    text-align: center;
    padding: 50px 0px;
}
.drag_and_drop_img img{
    max-width: 100%;
    height: auto;
}
.plashka_drag_and_drop {
    position: relative;
    width: 119px;
    height: 24px;
    float: left;
    /* text-align: center; */
    margin: 0px 5px;
    cursor: pointer;
}
.plashka_drag_and_drop_img p {
    float: left;
    position: relative;
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic';
    margin-bottom: 0px;
}
.plashka_drag_and_drop_img .plashka_drag_and_drop_input{
    position: absolute;
    top: 0px;
    z-index: 1;
    /* width: 99px; */
    padding: 0 5px;
    height: 24px;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 12px;
    background-color: #8e9ba4;
    -webkit-box-shadow: 0 0 10px rgba(186,198,204,.51);
    -moz-box-shadow: 0 0 10px rgba(186,198,204,.51);
    box-shadow: 0 0 10px rgba(186,198,204,.51);
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
    line-height: 20px;
    margin-bottom: 0px;
    cursor: pointer;
}
.plashka_drag_and_drop_img .plashka_drag_and_drop_input:hover {
    cursor: pointer;
}
.plashka_drag_and_drop input {
    position: absolute;
    width: 120px;
    height: 24px;
    top: 0;
    left: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
}
.plashka_drag_and_drop input:focus {
    cursor: pointer;
}
.tab_body .form-control_dashed{
    border-style: dashed;
}
.tab_body .form-control:focus{
    border: 3px solid #edf1f2;
    outline: none;
    box-shadow: none;
}
.tab_body .btn_tab{
    width: 255px;
    height: 64px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    background-color: #32b287;
    font-size: 20px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 20px;
}
.tab_body .btn_tab:hover{
    background-color: #30ab82;
}
.tab_body .btn_tab:focus{
    outline: none;
}
.tab_body .btn_tab:active, .tab_body .btn_tab.active{
    box-shadow: none;
}
.form-control:focus::-webkit-input-placeholder {
    color: transparent
}
.form-control:focus:-moz-placeholder {
    color: transparent
}
.form-control:focus::-moz-placeholder {
    color: transparent
}
.form-control:focus::-ms-placeholder {
    color: transparent
}
.checkbox_new_post{
    padding: 0px;
    margin-bottom: 30px;
}
.checkbox_new_post input[type="checkbox"].bigswitch.ios-switch:checked + div > div {
    -webkit-transform: translate3d(24px, 0, 0);
    -moz-transform: translate3d(16px, 0, 0);
    -ms-transform: translate3d(16px, 0, 0);
    /* box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.3), 0px 0px 0 1px rgba(8, 80, 172,1); */
}
/*end page new_post*/

/*page ingnore_list_setting*/
.select_7{
    width: 107px;
    float: right;
}
.select_7 .dropdown-menu{
    width: 107px;
}
.tab_body_pad{
    padding: 0px;
}
.sort_ignore_list{
    border-bottom: 1px solid #fff;
    padding-right: 39px;
}
.sort_ignore_list ul {
    padding-left: 0px;
}
.block_ignore_list{
    padding: 38px 40px; 
}
.block_tags{
    padding: 30px 42px; 
    border-top: 1px solid #f1f3f4;
}
.block_tags:last-child{
    margin-bottom: 0px
}
.letter{
    text-transform: capitalize;
    font-size: 24px;
    font-weight: 700;
    color: #374249;
    font-family: 'Century gothic';
    padding-left: 24px;
    margin-bottom: 19px;
}
.block_ignore_list .tags{
    border-width: 3px;
    margin-bottom: 10px;
    line-height: 26px;
    display: inline-block;
    -webkit-border-radius: 23px;
    -moz-border-radius: 23px;
    border-radius: 23px;
    font-size: 18px;
    font-weight: 700;
    font-family: 'Century gothic';
}
.close_tags{
    margin-top: -2px;
    margin-left: 5px;
    cursor: pointer;
}
.block_ignore_list .block_user{
    position: relative;
    padding: 17px 26px;
    padding-bottom: 25px;
    border: 3px solid #d3dddf;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
    margin-bottom: 40px;
}
.close_block_{
    position: absolute;
    top: -12px;
    right: -12px;
    cursor: pointer;
}
.ava_user_post{
    margin-right: 22px;
    display: block;
    float: left;
    position: relative;
}
.ignore_list_name_user{
    font-size: 22px;
    font-weight: 700;
    color: #233238;
    font-family: 'Century gothic';
    margin-bottom: 0px;
    margin-top: 10px;
}
.ignore_list_reviews{
    font-size: 16px;
    font-weight: 700;
    color: #7c8589;
    font-family: 'Century gothic';
}
/*page end ingnore_list_setting*/


/*page comment*/
.blocks_comment{
    padding: 40px 47px 40px 40px;
    border-top: 1px solid #f1f3f4;    
}
.sort_by_comment .filter{
    margin-right: 25px;
}
.sort_by .rating{
    position: absolute;
    top: -8px;
    display: inline-block;
    width: 35px;
    line-height: 23px;
    padding: 0px 5px;
}
.block_comment{
    margin-bottom: 40px;
    position: relative;
}
.info_comment {
    position: relative;
    padding: 12px 17px 20px 28px;
    /* background: #ffffff; */
    border: 3px solid #d3dddf;
    width: 600px;
    float: left;
    -webkit-border-radius: 10px;   -moz-border-radius: 10px;   border-radius: 10px;
    margin-bottom: 30px;
}
.info_comment:after, .info_comment:before {
    right: 100%;
    top: 42px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.info_comment:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 14px;
    margin-top: -14px;
}
.info_comment:before {
    border-color: rgba(211, 221, 223, 0);
    border-right-color: #d3dddf;
    border-width: 18px;
    margin-top: -18px;
}
.info_comment .quantity_comment.point_after:after{
    content: none;
}
.info_comment .add_post_icon.point_after:after{
    left: -16px;
    top: 14px;
    background: url(../img/point_1.png); 
}
.info_comment .text_comment{
    font-weight: 400;
    font-family: 'Century gothic';
    margin-top: 10px;
}
.info_comment .post_up, .info_comment .post_down{
    float: none;
}
.info_comment .post_down_icon{
    margin-right: 10px;
}
.info_comment .add_post_icon{
    margin-left: 27px;
}
.info_comment .reply_comment{
    width: 124px;
    height: 34px;
    display: block;
    float: right;
    -webkit-border-radius: 17px;
    -moz-border-radius: 17px;
    border-radius: 17px;
    background-color: #4fbf8b;
    text-align: center;
    line-height: 34px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
}
.block_comment .close_block_{
    right: 33px;
    z-index: 1;
}
.info_comment .post_down_icon, .rating_block .post_down_icon{
    width: 30px;
    height: 30px;
    background: url(../img/post_down_sprite_small.png) 0px -30px;
}
.info_comment span, .rating_block span{
    font-size: 18px;    
    line-height: 22px;
}
.info_comment .post_down_icon:hover, .info_comment .post_up_icon:hover,
.rating_block .post_down_icon:hover, .rating_block .post_up_icon:hover{
    background-position: 0px 0px;
}
.info_comment .post_up_icon:hover, .rating_block .post_up_icon:hover{
    background-position: 0px -30px;
}
.info_comment .post_up_icon, .rating_block .post_up_icon{
    width: 30px;
    height: 30px;
    background: url(../img/post_up_sprite_small.png) 0px 0px;  
}
/*end page comment*/


/*page post_page*/
.block_tags_post_page{
    margin-top: 20px;
}
.footer_post_page{
    border-radius: 0px;
}
.block_tags_post_page .tags{
    padding: 3px 7px;
}
.negative_post{
    width: 30px;
    height: 30px;
    float: right;
    margin-right: 30px;
    line-height: 40px;
    margin-top: 6px;
}
.negative_post .negative_post_icon {
    width: 30px;
    height: 30px;
    background: url(../img/negative_post_sprite.png);
    background-position: 0px -30px;
    transition: all 0.15s;
    cursor: pointer;
}
.negative_post .negative_post_icon:hover {
    background-position: 0px 0px;
}
.quantity_comment_post{
    font-size: 20px;
    font-weight: 700;
    color: #717380;
    float: left;
}
.select_6{
    width: 100px;
    float: right;
}
.select_6 .dropdown-menu{
    width: 100px;
}
.block_comment_post{
    padding: 50px 0 40px 43px;
}
.block_comment_post_page{
    padding-bottom: 150px;
    position: relative;
}
.block_comment_post .block_comment{
    margin-bottom: 0px;
    position: relative;
}
.vertical_line {
    position: absolute;
    height: 88%;
    width: 3px;
    background-color: #f7f9f9;
    top: 83px;
    left: 41px;
}
.block_comment_post .info_comment .add_post_icon.point_after:after {
    content: none;
}
.block_comment_post .info_comment .add_post_icon {
    margin-left: 0px;
}
.block_comment_post .info_comment .post_up, .block_comment_post .info_comment .post_down{
    float: right;
    margin-top: 0px;
}
.block_comment_post .down_post{
    padding-top: 10px;
    height: 30px;
}
.block_comment_post .reply_comment{
    float: left;
    height: 30px;
    font-size: 14px !important;
    line-height: 30px;
    cursor: pointer;
}
.block_comment_post .reply_comment:hover {
    text-decoration: none;
    background-color: #4bb584;
}
.block_comment_post .show_comment{
    border: 2px solid #b6c6ca;
    background-color: transparent;
    font-weight: 700;
    color: #b6c6ca;
    font-family: 'Century gothic';
    line-height: 26px;
    margin-right: 13px;
    background: url(../img/arrow_show_comment.png) 88px center no-repeat;
    text-align: left;
    padding-left: 12px;
}
.block_comment_post .show_comment:hover {
    border-color: #4bb584;
    color: #fff;
}
.answer_comment{
    margin-left: 101px;
    /* margin-bottom: 30px; */
    float: left;
}
.block_comment .first_answer_comment{
    margin-top: 20px;
}
.answer_comment .info_comment{
    width: 500px;
}
.answer_comment .ava_user_post:before{
    content: '';
    position: absolute;
    left: -57px;
    top: 50%;
    width: 57px;
    height: 3px;
    background-color: #f7f9f9;
}
/*.answer_comment .ava_user_post:after{
     content: '';
    position: absolute;
    width: 3px;
    height: 100%;
    background-color: #f7f9f9;
}*/
.block_add_comment{
    position: fixed;
    bottom: 0px;
    width: 792px;
    margin-left: -43px;
    height: 150px;
    background-color: #f6f8f8;
    z-index: 11111;
    display: none;
    padding: 30px 42px
}
.ava_add_comment{
    width: 81px;
    height: 81px;
    border-radius: 50%;
    float: left;    
}
.add_comment textarea{
    min-height: 80px;
    resize: none;
    border: none;
    font-size: 16px;
    font-weight: 400;
    color: #878f93;
    font-family: 'Century gothic';
    line-height: 24px;
    padding: 15px 112px 0 25px;
}
.add_comment {
    width: 604px;
    float: right;
    position: relative;
    background: #ffffff;
    border: 1px solid #e5e8ea;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    border-radius: 8px;
}
.add_comment:after, .add_comment:before {
    right: 100%;
    top: 40px;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
}

.add_comment:after {
    border-color: rgba(255, 255, 255, 0);
    border-right-color: #ffffff;
    border-width: 12px;
    margin-top: -12px;
}
.add_comment:before {
    border-color: rgba(229, 232, 234, 0);
    border-right-color: #e5e8ea;
    border-width: 13px;
    margin-top: -13px;
}
.btn_add_picture{
    position: absolute;
    top: 15px;
    right: 71px;
    cursor: pointer;
}
.btn_add_picture input{
    position: absolute;
    top: 0px;
    width: 48px;
    height: 48px;
    opacity: 0;
    cursor: pointer;
}
.btn_send_comment{
    position: absolute;
    top: 4px;
    right: 10px;
}
/*end page post_page*/


/*settings*/
.settings {
    padding: 0px;
}
.main_data{
    height: 315px;
    padding: 41px 61px 48px 45px;
    background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
    background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
    background-image: -o-linear-gradient(bottom, #fafafa, #fff);
    background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
    background-image: linear-gradient(to top, #fafafa, #fff);
    border-bottom: 1px solid #fff;
}
.main_data .form_main_data{
    width: 500px;
    height: 224px;
    float: right;
    padding: 4px 20px;
    padding-bottom: 0px;
    border: 3px dashed #edf1f2;
    border-radius: 8px;
    background: #fff;
}
.main_data .form_main_data .form-group{
    position: relative;
    margin-bottom: 5px;
}
.main_data .form-group .form-control{
    border-radius: 0px;
    box-shadow: none;
    border: none;
    border-bottom: 3px dashed #edf1f2;
    font-size: 18px;
    font-weight: 700;
    color: #a5b1b8;
    font-family: 'Century gothic';
    height: 66px;
    padding-left: 0px;
    padding-right: 0px;
}
/*.refresh{
    position: absolute;
    right: 0px;
    top: 0px;
}
.refresh.po{
    transform: rotate(360deg);
}*/
.form_main_data .form_last{
    border-bottom: none !important;
}
.block_change_ava{
    width: 138px;
    height: 138px;
    border: 4px solid #edf1f2;
    border-radius: 50%;
}
.block_change_ava img{
    width: 130px;
    height: 130px;
    border-radius: 50%;
}
.block_change_ava {
    position: relative;
    overflow: hidden;
    float: left;
}
.block_change_ava input {
    position: absolute;
    width: 138px;
    height: 138px;
    top: 0;
    right: 0;
    margin: 0;
    padding: 0;
    font-size: 20px;
    cursor: pointer;
    opacity: 0;
    z-index: 2;
    filter: alpha(opacity=0);
}
.plashka_ava{
    position: absolute;
    top: 0px;
    background: rgba(0, 0, 0, .3);
    z-index: 1;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    text-align: center;
    display: table;
}
.plashka_ava div{
    height: 130px;
    display: table-cell;
    vertical-align: middle;
}
.plashka_ava p{
    font-size: 14px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
    margin-bottom: 0px;
    line-height: 14px;
}
.plashka_ava .icon_change_ava{
    width: 32px;
    height: 29px;
    border-radius: 0px;
    margin-bottom: 5px;
}
.security{
    height: 248px;
    border-top: 1px solid #f1f3f4;
    border-bottom: 1px solid #f1f3f4;
    background: #fdfdfd;
    padding: 52px 61px 48px 49px;
}
.title_blocks_setting{
    margin-bottom: 30px;
}
.text_blocks_setting{
    font-size: 24px;
    font-weight: 700;
    color: #374249;
    font-family: 'Century gothic';
    float: left;
}
.log_out_account{
    width: 264px;
    height: 33px;
    float: right;
    -webkit-border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    -moz-border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    border-radius: 16px 17px 17px 16px/16px 16px 17px 17px;
    background-color: #a5b1b8;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
    text-align: center;
    line-height: 33px;
    transition: background-color 0.25s;
}
.log_out_account:hover{
    background-color: #687377;
    color: #fff;
    text-decoration: none;
    transition: background-color 0.25s;
}
.log_out_account img{
    margin-left: 10px;
}
.change_password{
    height: 81px;
    border: 3px dashed #edf1f2;
    border-radius: 8px;
    background: #fff;
}
.change_password .form-group{
    width: 45%;
    float:left;
    margin-bottom: 0px;
}
.settings .change_password .form-control{
    border: none;
    border-right: 3px dashed #edf1f2;
    height: 55px;
    margin-top: 8px;
}
.settings .security .change_pass{
    right: 20px !important;
} 
.btn_security{
    width: 34px;
    height: 34px;
    margin: 0 auto;
    margin-top: 19px;
    display: block;
    text-align: center;
    background-color: #32b287;
    border: none;
    border-radius: 50%;
    box-shadow: 0px 0px 10px 1px rgba(186, 198, 204, .51);
}
.btn_security{
    outline: none;
}
.security_change_pass{
    position: absolute;
    top: 50%;
    right: 25px;
    margin-top: -4px;
    width: 25px;
    height: 18px;
    cursor: pointer;
}
.security_change_pass {
    /* position:relative; */
    /* height:281px; */
    /* width:450px; */
    /* margin:0 auto; */
}
.security_change_pass img {
    position:absolute;
    left:0;
    -webkit-transition: opacity 1s ease-in-out;
    -moz-transition: opacity 1s ease-in-out;
    -o-transition: opacity 1s ease-in-out;
    transition: opacity 1s ease-in-out;
}
.security_change_pass img.show_pass {
    display: none;
}


.custom_profile{
    padding: 31px 74px 48px 52px;
}
.custom_profile label{
    font-size: 18px;
    font-weight: 700;
    color: #687377;
    font-family: 'Century gothic';
}

/*custom range*/
.custom_range{
    margin-bottom: 30px;
}
.slider-handle{
    width: 30px;
    height: 30px;
    top: -5px;
    -webkit-border-radius: 15px;
    -moz-border-radius: 15px;
    border-radius: 15px;
    background-image: none;
    background-color: #fff;
    -webkit-box-shadow: 0 0 4px rgba(0,1,1,.12);
    -moz-box-shadow: 0 0 4px rgba(0,1,1,.12);
    box-shadow: 0 0 4px rgba(0,1,1,.12);
    opacity: 1;
}
.slider-track{
    background: #43b28e;
    height: 7px !important;
}
.slider-selection{
    background: #97b1b2;
    box-shadow: none;
}
.slider{
    float: right;
    width: 70px !important;
}
.slider .tooltip.top{
    display: none;
    margin-top: -45px;
    margin-left: -10px !important;
}
.custom_range span{
    font-size: 18px;
    font-weight: 700;
    color: #687377;
    font-family: 'Century gothic';
}
.custom_profile .checkbox{
    padding: 0px;
    margin-bottom: 30px;
}
.custom_profile input[type="checkbox"].bigswitch.ios-switch + div {
    width: 65px;
    height: 36px;
    float: right;
}
.custom_profile input[type="checkbox"].bigswitch.ios-switch + div > div {
    width: 30px;
    height: 30px;
    margin-top: 1px;
    margin-left: 1px;
}
/*end settings*/

/*page subscribers*/
.block_subscribers{
    padding: 31px 44px 60px 44px;
}
.subscriber{
    /* -webkit-border-radius: 10px; */
    -moz-border-radius: 10px;
    /* border-radius: 10px; */
    /* border: 3px solid #d3dddf; */
    margin-bottom: 40px;
}
.header_subscriber{
    padding: 17px 37px 22px 37px; 
    border: 3px solid #d3dddf;
    border-radius: 10px 10px 0px 0px;
    border-bottom: none;
}
.subscriber .ava{
    position: relative;
    width: 90px;
    height: 90px;
    float: left;
    margin-right: 30px;
}
.subscriber .quantity_user{
    position: absolute;
    top: -1px;
    left: 44px;
    border: 2px solid #fff;
    -webkit-border-radius: 12px;
    -moz-border-radius: 12px;
    border-radius: 16px;
    background: #ec7b65 url(../img/arrow_1.png) 4px center no-repeat;
    font-size: 14px;
    font-weight: 800;
    color: #fff;
    font-family: 'Century gothic'; 
    padding-left: 4px;
    width: 63px;
    height: 28px;
    line-height: 24px;
    padding-left: 12px;
}
.subscriber_name{
    font-size: 18px;
    font-weight: 700;
    color: #374249;
    font-family: 'Century gothic'; 
    margin-bottom: 0px;
    margin-top: 20px;
}
.subscriber_social{
    font-size: 14px;
    font-weight: 700;
    color: #374249;
    font-family: 'Century gothic'; 
}
.btn_unsubscribe{
    width: 172px;
    height: 50px;
    margin-top: -58px;
    float: right;
    border-radius: 5px;
    border: none;
    background-color: #d4dddf;
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
}
.btn_unsubscribe:hover{
    background-color: #ccd4d6;
    color: #fff;
}
.info_subscriber{
    height: 86px;
    background-color: #f0f3f4;
    padding-left: 37px;
    border: 3px solid #d3dddf;    
    border-bottom: none;
    border-top: none;
}
.item_info_subscriber{
    float: left;
    margin-right: 50px;
    display: table;
    height: 86px;
}
.item_info_subscriber:last-child{
    margin-right: 0px;
}
.item_info_subscriber div{
    height: 86px;
    display: table-cell;
    vertical-align: middle;
}
.item_info_subscriber img{
    float: left;
    margin-right: 13px;
}
.text_info_subscriber{
    font-size: 14px;
    font-weight: 700;
    color: #687377;
    font-family: 'Century gothic'; 
    float: left;
    margin-bottom: 0px;
    line-height: 32px;
}
.your_note{
    border: 3px dashed #d3dddf;
    border-radius: 0px 0px 10px 10px;
    border-top: none;
    height: auto;
}
.block_subscribers .your_note textarea{
    border: none;
    box-shadow: none;
    font-size: 16px;
    font-weight: 700;
    color: #233238;
    font-family: 'Century gothic'; 
    padding-left: 20px;
    padding-top: 15px;
}
.block_subscribers .your_note textarea.form-control{
    height: 80px;
}
.your_note textarea:focus{
    border: none !important;
}
/*end page subscribers*/

/*title_txt_page*/
.title_txt_page{
    height: 101px;
    border-radius: 5px 5px 0px 0px;
    background-image: -webkit-linear-gradient(bottom, #fafafa, #fff);
    background-image: -moz-linear-gradient(bottom, #fafafa, #fff);
    background-image: -o-linear-gradient(bottom, #fafafa, #fff);
    background-image: -ms-linear-gradient(bottom, #fafafa, #fff);
    background-image: linear-gradient(to top, #fafafa, #fff);
    border-bottom: 1px solid #f1f3f4;
}
.text_title_txt_page{
    font-size: 22px;
    font-weight: 700;
    color: #7c8589;
    font-family: 'Century gothic';
    line-height: 100px;
    padding-left: 30px;
}
.body_title_txt_page{
    padding: 30px 44px 60px 30px;
}
.title_paragraf{
    font-size: 20px;
    font-weight: 700;
    color: #233238;
    line-height: 32px;
    font-family: 'Century gothic';
    margin-bottom: 0px;
}
.text_page{
    font-size: 18px;
    font-weight: 400;
    color: #7c8589;
    line-height: 38px;
    font-family: 'Century gothic';
}
.list_page{
    margin: 30px 0px;

}
.list_page li{
    font-size: 18px;
    font-weight: 700;
    color: #222b2f;
    line-height: 36px;
    font-family: 'Century gothic';
}
.list_page li span{
    text-decoration: underline;
}
.btn_page{
    border-radius: 5px;
    border: none;
    height: 52px;
    margin-top: 30px;
    margin-bottom: 60px;
    background-color: #32b287;
    padding: 0px 20px;
    font-size: 16px;
    font-weight: 700;
    color: #fff;
    font-family: 'Century gothic';
}
.btn_page{
    background-color: #30ab82;
}
.quote_page{
    margin: 20px 0px;
    position: relative;
    padding: 15px 20px;
    padding-left: 60px;
    border: 3px solid #d3dddf;
    border-radius: 5px;
}
.quote_page:before{
    content: '"';
    position: absolute;
    top: 4px;
    left: 15px;
    font-size: 67px;
    font-weight: 700;
    color: #d3dddf;
    font-family: 'Century gothic';
} 
/*end title_txt_page*/

/*wpapper_user*/
.wpapper_user {
    border-radius: 8px;
}
.blocks_user {
    border-top: 1px solid #f1f3f4;
    padding: 44px;
    padding-bottom: 0px;
}
.wpapper_user .body_post{
    padding: 0px 44px;
}
.wpapper_user .footer_post {
    margin-top: 50px;
}

.bottom-buffer {
    margin-bottom: 20px;
}

.redactor-toolbar {
    z-index: 1 !important;
}
/*end wpapper_user*/

    